.card {
    width: 16rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgba(126, 17, 17, 0.578);
}

.poster img {
    width: 16rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.title {
    color: white;
}